#header
{
    background: #000;
    height: var(--header-height);
    width: 100vw;
    display: inline-block;
    position: fixed;
    top:0;
    z-index: 1;
}

/* Begin Nav */
#nav
{
    line-height: var(--header-height);
    display: inline-block;
}

#nav > li 
{
    display: inline-block;
    position: relative;
}

#nav > li a
{
    text-decoration: none;
    padding: 0 2vh;
}

#nav > li > a
{
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

#nav li:hover > a
{
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

#nav .subnav
{
    display: none;
    background-color: white;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(12, 11, 11, 0.5);
}

#nav li:hover .subnav
{
    display: block;
}

#nav .subnav a
{
    color: black;
    display: block;
    padding: 0 4vh 0 4vh;
}

#nav .subnav a:hover
{
    background: rgba(49, 42, 42, 0.5);
    color: white;
}

/* End Nav */

/* Begin Search */
.search-btn
{
    margin-right: 10px;
    float: right;
    height: var(--header-height);
    width: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon
{
    color: white;
    font-size: 4vh;
}
/* End Search */